/*
 * Custom Marp theme
 *
 * Inspired by https://github.com/marp-team/marp-core/blob/main/themes/README.md

 * @theme custom-marp-theme
 * @author L. Delafontaine
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

@import url("https://fonts.bunny.net/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css");

/* Colors */

:root {
	--color-background: #fff;
	--color-background-stripe: #f6f8fa;
	--color-dimmed: #888;
	--color-foreground: #333;
	--color-headings: #7d8ca3;
	--color-highlight: #f96;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-headings);
	margin: 0.5em 0 0;
	font-size: 1.5rem;
}

h1 {
	font-size: 1.8em;
}

h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
	text-decoration: none;
}

/* Header and footer */

header,
footer,
section::after {
	box-sizing: border-box;
	font-size: 66%;
	height: 70px;
	line-height: 50px;
	overflow: hidden;
	padding: 10px 25px;
	position: absolute;
}

header {
	left: 0;
	right: 0;
	top: 0;
}
footer {
	left: 0;
	right: 0;
	bottom: 0;
}

/* Paragraphs and lists */

p,
blockquote {
	margin: 1em 0 0;
}

ul,
ol > li {
	margin: 0.3em 0 0;
}
ul,
ol > li > p {
	margin: 0.6em 0 0;
}

/* Code */

code {
	display: inline-block;
	font-family: "Roboto Mono", monospace;
	font-size: 0.8em;
	margin: -0.1em 0.15em;
	padding: 0.1em 0.2em;
}

pre {
	display: block;
	margin: 1em 0 0;
}

pre code {
	box-sizing: border-box;
	margin: 0;
	min-width: 100%;
	padding: 0.5em;
	font-size: 0.7em;
}

section pre {
	background-color: #f6f8fa;
	color: #333;
	border-radius: 0.2em;
	border: 1px solid #ccc;
	padding: 0.2em;
}

section pre code {
	background: transparent;
}

/* Table */

table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 1em 0 0;
	width: 100%;
}

table th,
table td {
	padding: 6px 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #d1d9e0;
}

table thead th {
	background: #fff;
}

table tbody > tr:nth-child(even) td,
table tbody > tr:nth-child(even) th {
	background: var(--color-background-stripe, transparent);
}

/* Section */

section {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-size: 35px;
	font-family: Lato, "Avenir Next", Avenir, "Trebuchet MS", "Segoe UI",
		sans-serif;
	height: 720px;
	line-height: 1.35;
	letter-spacing: 1.25px;
	padding: 70px;
	width: 1280px;
	word-wrap: break-word;
}

section:has(h1) {
	padding: 50px;
}

section a {
	color: var(--color-highlight);
}

section header,
section footer,
section::after,
blockquote::before,
blockquote::after {
	color: var(--color-dimmed);
}

section:has(h1) > header {
	display: none;
}

section > header {
	font-size: 20px;
}

section.invert {
	--color-background: #455a64;
	--color-foreground: #fff8e1;
	--color-highlight: #81d4fa;
	--color-background-stripe: rgba(255, 248, 225, 0.1);
}

section.lead {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;
}

section.lead h1,
section.lead h2,
section.lead h3,
section.lead h4,
section.lead h5,
section.lead h6,
section.lead p {
	text-align: center;
}

section.lead blockquote h1,
section.lead blockquote h2,
section.lead blockquote h3,
section.lead blockquote h4,
section.lead blockquote h5,
section.lead blockquote h6,
section.lead blockquote p {
	text-align: left;
}

section.lead ul li p,
section.lead ol li p {
	text-align: left;
}

section.lead table {
	margin-left: auto;
	margin-right: auto;
}

section:not(.lead) > p,
blockquote {
	text-align: justify;
}

/* Blockquote */

blockquote {
	font-style: italic;
	margin: 1em 0 0;
	padding: 0 1em;
	position: relative;
}

blockquote::before,
blockquote::after {
	content: "“";
	display: block;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	position: absolute;
}

blockquote::before {
	top: 0;
	left: 0;
}
blockquote::after {
	right: 0;
	bottom: 0;
	transform: rotate(180deg);
}

/* Custom classes */

.two-columns {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1rem;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
